<% initial_follow_state = current_user.follows?(user) ? true : false %>

<button
  data-user-id="<%= user.id %>"
  data-follow-state="<%= initial_follow_state %>"
  class="follow-toggle">
</button>

<p><%= initial_follow_state %></p>
